@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
}

#lose {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}
#lose.active {
    display: block;
}

#lose .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    opacity: .7;
}

#lose .text {
    background: white;
    width: fit-content;
    padding: 4rem 8rem;
    text-align: center;
    z-index: 2;   
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: .75rem;
}

#lose .text button {
    padding: .75rem 2rem;
    margin-top: 1rem;
    background: white;
    border: 0;
    outline: 1px black solid;
    cursor: pointer;
    font-weight: 700;
    font-size: .85rem;
    transition: 100ms ease-in-out;
}

#lose .text button:hover {
    background: #000;
    color: white;
    outline: 1px white solid;
}



.wrapper {
    height: 100vh;
}

.log-wrapper {
    flex: 1;
    background: #f5f5f5;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

#game-name {
    text-align: center;
}

.log-wrapper .player-stats {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 2rem;
}

.log-wrapper .player-stats .stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log-wrapper .player-stats .stat .stat-title {
    margin-bottom: .25rem;
}

.log-wrapper .log-box {
    margin-top: 2.5rem;
    width: 100%;
    /* height: 75%; */
    flex: 1;
    background: white;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    overflow-y: scroll;
    /* border: .25rem solid black; */
    
    
}

.log-wrapper .log-box h2 {
    text-align: center;
    text-decoration: underline;
}

.log-text {
    padding: 0.25rem .5rem;
}

.log-text#last {
    margin-top: 1rem;
    background: yellow;
    font-weight: 700;
}

.game-wrapper {
    padding: 1rem;
    width: 70%;
    background: #000;
    display: grid;
    gap: .15rem;
    grid-template-columns: repeat(25, 1fr);
}

.game-wrapper .square {
    /* border: 1px solid black; */
    /* width: 25px; */
    /* height: 25px; */
    background: white;
}

.game-wrapper .square#square-2424{
    background: gold;
}

.game-wrapper .square.active {
    position: relative;
    background: rgb(61, 61, 184) !important;
}

.game-wrapper .square.item {
    background: green;
}

.game-wrapper .square.monster {
    background: red;
}